.footer-wrapper {
    display: flex;
}

.footer-item {
    padding-right: 16px;
    flex: 1;
}

.footer-item h4 {
    color: red;
}

.footer-item .main-contact {
    font-size: 20px;
    font-weight: bold;
}

.footer-item .icons {
    display: flex;
}

.footer-item .icons img {
    width: 32px;
    margin-right: 8px;
}

