mat-expansion-panel {
    border-radius: 15px;
    border: 1px solid #768DC7;
    --mat-expansion-container-shape: 15px;
}

mat-panel-description {
    display: none;
}

.center{
    text-align: center;
}

.link-container {
    display: flex;
    justify-content: center;
}