<button *ngIf="globals.activo == true" (click)="setShowResultadosForm()" class="btn btn-default config"
  [class.active-button]="showResultadosForm">Administrar resultados</button>
<button *ngIf="globals.activo == true" (click)="setShowPartidosForm()" class="btn btn-default config"
  [class.active-button]="showPartidosForm">Administrar partidos</button>

<div *ngIf="showResultadosForm && globals.activo == true && copaService.selectedPartido.id_partido" class="form-container">
  <form role="form" #PartidoForm="ngForm" id="partidosForm">
    <input type="hidden" name="id_partido" [(ngModel)]="copaService.selectedPartido.id_partido" #id_partido="ngModel">
    <div class="form-row">
      <div class="form-group">
        <label for="EquipoUno">Equipo Uno</label>
        <input readonly type="text" class="form-control" name="equipoUno"
          [(ngModel)]="copaService.selectedPartido.equipoUno" #equipoUno="ngModel" required placeholder="Equipo Uno">
      </div>
      <div class="form-group">
        <label for="GolesLocal">Goles Local</label>
        <input type="number" class="form-control" name="golesLocal" [(ngModel)]="copaService.selectedPartido.golesLocal"
          #golesLocal="ngModel" required placeholder="Goles Local">
      </div>
      <div class="form-group">
        <label for="PenalesLocal">Penales Local</label>
        <input type="number" class="form-control" name="penalesLocal"
          [(ngModel)]="copaService.selectedPartido.penalesLocal" #penalesLocal="ngModel" required
          placeholder="Penales Local">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="equipoDos">Equipo Dos</label>
        <input readonly type="text" class="form-control" name="equipoDos"
          [(ngModel)]="copaService.selectedPartido.equipoDos" #equipoDos="ngModel" required placeholder="Equipo Dos">
      </div>
      <div class="form-group">
        <label for="GolesVisitante">Goles Visitante</label>
        <input type="number" class="form-control" name="golesVisitante"
          [(ngModel)]="copaService.selectedPartido.golesVisitante" #golesVisitante="ngModel" required
          placeholder="Goles Visitante">
      </div>
      <div class="form-group">
        <label for="PenalesVisitante">Penales Visitante</label>
        <input type="number" class="form-control" name="penalesVisitante"
          [(ngModel)]="copaService.selectedPartido.penalesVisitante" #penalesVisitante="ngModel" required
          placeholder="Penales Visitante">
      </div>
    </div>
    <input type="hidden" name="anio" [(ngModel)]="copaService.selectedPartido.anio" #anio="ngModel">
    <input type="hidden" name="torneo" [(ngModel)]="copaService.selectedPartido.torneo" #torneo="ngModel">
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"
        (click)="editPartido(PartidoForm.value.torneo,PartidoForm.value.anio,PartidoForm)">Enviar</button>
      <button type="button" class="btn btn-default" (click)="resetForm(PartidoForm)">Limpiar</button>
    </div>
  </form>
</div>

<form *ngIf="showPartidosForm && globals.activo == true" role="form" #PartidosInterzonalesForm="ngForm"
  id="partidosInterzonalesForm">
  <input type="hidden" name="id_partido" [(ngModel)]="partidosService.selectedPartido.id_partido"
    #id_partido="ngModel">
  <div class="form-group">
    <label for="Equipo">Nombre equipo uno</label>
    <input type="text" placeholder="Seleccionar equipo" aria-label="Number" matInput
      [formControl]="myControlEquiposGrupoUno" [matAutocomplete]="autoEquipoUno" class="form-control">
    <mat-autocomplete #autoEquipoUno="matAutocomplete">
      <mat-option *ngFor="let option of filteredEquiposGrupoUno | async" [value]="option.nombre">
        {{option.nombre}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="form-group">
    <label for="Equipo">Nombre equipo dos</label>
    <input type="text" placeholder="Seleccionar equipo" aria-label="Number" matInput
      [formControl]="myControlEquiposGrupoDos" [matAutocomplete]="autoEquipoDos" class="form-control">
    <mat-autocomplete #autoEquipoDos="matAutocomplete">
      <mat-option *ngFor="let option of filteredEquiposGrupoDos | async" [value]="option.nombre">
        {{option.nombre}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Seleccionar dia</mat-label>
      <input matInput [matDatepicker]="picker" (dateInput)="onDateSelected($event)" [value]="fecha">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <label for="Horario">Horario</label>
    <input type="text" placeholder="Seleccionar hora" aria-label="Number" matInput [formControl]="myControlHorarios"
      [matAutocomplete]="autoHoras" class="form-control">
    <mat-autocomplete #autoHoras="matAutocomplete">
      <mat-option *ngFor="let option of filteredHorarios | async" [value]="option.hora">
        {{option.hora}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="form-group">
    <label for="Cancha">Cancha</label>
    <input type="text" placeholder="Seleccionar cancha" aria-label="Number" matInput [formControl]="myControlCanchas"
      [matAutocomplete]="autoCanchas" class="form-control">
    <mat-autocomplete #autoCanchas="matAutocomplete">
      <mat-option *ngFor="let option of filteredCanchas | async" [value]="option.cancha">
        {{option.cancha}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="form-group">
    <label for="Instancia">Instancia</label>
    <input type="text" placeholder="Seleccionar instancia" aria-label="Number" matInput
      [formControl]="myControlInstancias" [matAutocomplete]="autoInstancias" class="form-control">
    <mat-autocomplete #autoInstancias="matAutocomplete">
      <mat-option *ngFor="let option of filteredInstancias | async" [value]="option.instancia">
        {{option.instancia}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <button type="submit" class="btn btn-default"
    (click)="addPartido(torneo,anio,null,PartidosInterzonalesForm)">Enviar</button>
  <button type="submit" class="btn btn-default" (click)="resetPartidoForm(PartidosInterzonalesForm)">Limpiar</button>
</form>

<div *ngIf="hayPartidos">
  <div *ngIf="anio > 2024">
    <div class="bracket-container">
      <div class="fase" *ngFor="let instancia of copa">
        <ng-container *ngIf="mostrarFase(instancia) && instancia[1].length > 0;">
          <div class="fase-wrapper">
            <h4 class="fase-titulo">{{ instancia[0][0] }}</h4>
            <div class="fase-child">
              <div class="partido" *ngFor="let partido of instancia[1]"
                   [class.seleccionable]="globals.activo"
                   (click)="globals.activo ? editForm(partido) : null">
                <div class="info-partido">
                  <span class="cancha">{{ partido.cancha }}</span>
                  <span class="fecha-hora">{{partido.fecha.split('T')[0] | date:'dd/MM' }} -
                    {{partido.hora}}:{{partido.minutos | number: '2.0'}}hs.</span>
                </div>
                <div class="equipo">
                  <div class="equipo-nombre">
                    <img class="escudo" [src]="'../../../assets/imagenes/' + partido.equipoUno + '.png'" />
                    <span>{{ partido.equipoUno }}</span>
                  </div>
                  <span class="resultado" *ngIf="partido.golesLocal != -1; else guionLocal">{{partido.golesLocal}} {{partido.penalesLocal != -1 ? '(' + partido.penalesLocal + ')' : ''}}</span>
                  <ng-template #guionLocal><span class="resultado">-</span></ng-template>
                </div>
                <div class="equipo">
                  <div class="equipo-nombre">
                    <img class="escudo" [src]="'../../../assets/imagenes/' + partido.equipoDos + '.png'" />
                    <span>{{ partido.equipoDos }}</span>
                  </div>
                  <span class="resultado" *ngIf="partido.golesVisitante != -1; else guionVisitante">{{partido.golesVisitante}} {{partido.penalesVisitante != -1 ? '(' + partido.penalesVisitante + ')' : ''}}</span>
                  <ng-template #guionVisitante><span class="resultado">-</span></ng-template>
                </div>
                <button *ngIf="showPartidosForm && globals.activo"
                        class="btn-eliminar"
                        (click)="deletePartido(partido.id_partido); $event.stopPropagation()">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="bracket-container">
      <div *ngFor="let instancia of copa">
        <ng-container *ngIf="mostrarFaseExtra(instancia) && instancia[1].length > 0;">
          <div class="fase-wrapper">
            <h4 class="fase-titulo">{{ instancia[0][0] }}</h4>
            <div class="fase-child-perdedores" *ngFor="let partido of instancia[1]"
                 [class.seleccionable]="globals.activo"
                 (click)="globals.activo ? editForm(partido) : null">
              <div class="info-partido">
                <span class="cancha">{{ partido.cancha }}</span>
                <span class="fecha-hora">{{partido.fecha.split('T')[0] | date:'dd/MM' }} -
                  {{partido.hora}}:{{partido.minutos | number: '2.0'}}hs.</span>
              </div>
              <div class="equipo">
                <div class="equipo-nombre">
                  <img class="escudo" [src]="'../../../assets/imagenes/' + partido.equipoUno + '.png'" />
                  <span>{{ partido.equipoUno }}</span>
                </div>
                <span class="resultado" *ngIf="partido.golesLocal != -1; else guionLocalExtra">{{partido.golesLocal}} {{partido.penalesLocal != -1 ? '(' + partido.penalesLocal + ')' : ''}}</span>
                <ng-template #guionLocalExtra><span class="resultado">-</span></ng-template>
              </div>
              <div class="equipo">
                <div class="equipo-nombre">
                  <img class="escudo" [src]="'../../../assets/imagenes/' + partido.equipoDos + '.png'" />
                  <span>{{ partido.equipoDos }}</span>
                </div>
                <span class="resultado" *ngIf="partido.golesVisitante != -1; else guionVisitanteExtra">{{partido.golesVisitante}} {{partido.penalesVisitante != -1 ? '(' + partido.penalesVisitante + ')' : ''}}</span>
                <ng-template #guionVisitanteExtra><span class="resultado">-</span></ng-template>
              </div>
              <button *ngIf="showPartidosForm && globals.activo"
                      class="btn-eliminar"
                      (click)="deletePartido(partido.id_partido); $event.stopPropagation()">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div *ngIf="anio < 2025" class="instancias">
    <div *ngFor="let instancia of copa">
      <div *ngIf="instancia[1].length > 0;">
        <h3>{{instancia[0][0]}}</h3>
        <div>
          <table class="table table-bordered table-striped">
            <thead>
              <th class="centered">Fecha</th>
              <th class="centered">Equipo</th>
              <th class="centered min-70">Resultado</th>
              <th class="centered">Equipo</th>
            </thead>
            <tbody>
              <tr *ngFor="let partido of instancia[1]">
                <td class="center">{{partido.fecha.split('T')[0] | date:'dd/MM' }} - {{partido.hora}}:{{partido.minutos  | number: '2.0'}}hs. {{ partido.cancha ? '('  : '' }}{{ partido.cancha ? partido.cancha  : '' }}{{ partido.cancha ? ')' : '' }}</td>
                <td class="center"><img id="escudo" src="../../../assets/imagenes/{{partido.equipoUno}}.png" />{{partido.equipoUno}}</td>
                <td *ngIf="partido.golesLocal != -1 && partido.GolesVisitante != -1; else noJugado" class="center min-65">
                  {{partido.penalesLocal != -1 ? '(' + partido.penalesLocal + ')' : ''}} {{partido.golesLocal}} -
                  {{partido.golesVisitante}} {{partido.penalesVisitante != -1 ? '(' + partido.penalesVisitante + ')' : ''}}
                </td>
                <ng-template #noJugado>
                  <td class="center"> - </td>
                </ng-template>
                <td class="center" *ngIf="partido.id_equipoUno != partido.id_equipoDos; else libre"><img id="escudo"
                    src="../../../assets/imagenes/{{partido.equipoDos}}.png" />{{partido.equipoDos}}</td>
                <ng-template #libre>
                  <div class="top">LIBRE</div>
                </ng-template>
                <td *ngIf="globals.activo == true"><a (click)="editForm(partido)">
                    <i class="glyphicon-pencil"></i>
                  </a></td>
                <td *ngIf="showPartidosForm && globals.activo == true">
                  <a (click)="deletePartido(partido.id_partido)">
                    <i class="glyphicon glyphicon-remove"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
