<div class="container">
    <div *ngFor="let instancia of copa">
      <div *ngIf="instancia[1].length > 0;">
        <h1>{{instancia[0][0]}}</h1>
        <div>
          <table class="table table-bordered table-striped">
            <thead>
              <th>Dia</th>
              <th>Hora</th>
              <th>Equipo</th>
              <th>Penales</th>
              <th>Resultado</th>
              <th>Penales</th>
              <th>Equipo</th>
            </thead>
            <tbody>
              <tr *ngFor="let partido of instancia[1]">
                  <td>{{partido.fecha.split('T')[0]}}</td>
                  <td *ngIf="partido.minutos != 0; else minutoCero">{{partido.hora}}:{{partido.minutos}}</td>
                  <ng-template #minutoCero><div style="margin: 9%;">{{partido.hora}}:00</div></ng-template>
                  <td>{{partido.equipoUno}}</td>
                  <td *ngIf="partido.penalesLocal == -1 || partido.id_equipoUno == partido.id_equipoDos; else penalesUno"> - </td>
                  <ng-template #penalesUno><div style="margin: 9%;">{{partido.penalesLocal}}</div></ng-template>
                  <td *ngIf="(partido.id_equipoUno != partido.id_equipoDos) && (partido.golesLocal != -1 && partido.golesVisitante != -1); else noPenales">{{partido.golesLocal}} - {{partido.golesVisitante}}</td>
                  <ng-template #noPenales ><div style="margin: 9%;"> - </div></ng-template> 
                  <td *ngIf="partido.penalesVisitante == -1 || partido.id_equipoUno == partido.id_equipoDos; else penalesDos"> - </td>
                  <ng-template #penalesDos><div style="margin: 9%;">{{partido.penalesVisitante}}</div></ng-template>
                  <td *ngIf="partido.id_equipoUno != partido.id_equipoDos; else libre">{{partido.equipoDos}}</td>
                  <ng-template #libre><div style="margin-top: 1.5%; margin-bottom: 1.5%">LIBRE</div></ng-template>
                  <!-- <td *ngIf="globals.activo"><a (click)="editForm(partido)">
                    <i class="glyphicon-pencil"></i>
                  </a></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>