<div *ngIf="hayPartidos" class="container">
  <h2 class="subtitulo" >COPA DE {{copaText}}</h2>
  <button *ngIf="globals.activo == true" (click)="setShowResultadosForm()" class="btn btn-default config" [class.active-button]="showResultadosForm">Administrar resultados</button>
  <button *ngIf="globals.activo == true" (click)="setShowPartidosForm()" class="btn btn-default config" [class.active-button]="showPartidosForm">Administrar partidos</button>
  <form *ngIf="showPartidosForm && globals.activo == true" role="form" #PartidosInterzonalesForm="ngForm" id="partidosInterzonalesForm">
    <input type="hidden" name="id_partido" [(ngModel)]="partidosService.selectedPartido.id_partido"
        #id_partido="ngModel">
    <div class="form-group">
        <label for="Equipo">Nombre equipo uno</label>
            <input type="text"
                   placeholder="Seleccionar equipo"
                   aria-label="Number"
                   matInput
                   [formControl]="myControlEquiposGrupoUno"
                   [matAutocomplete]="autoEquipoUno"
                   class="form-control">
                <mat-autocomplete #autoEquipoUno="matAutocomplete">
                    <mat-option *ngFor="let option of filteredEquiposGrupoUno | async" [value]="option.nombre">
                        {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>
    </div>
    <div class="form-group">
        <label for="Equipo">Nombre equipo dos</label>
            <input type="text"
                   placeholder="Seleccionar equipo"
                   aria-label="Number"
                   matInput
                   [formControl]="myControlEquiposGrupoDos"
                   [matAutocomplete]="autoEquipoDos"
                   class="form-control">
                   <mat-autocomplete #autoEquipoDos="matAutocomplete">
                    <mat-option *ngFor="let option of filteredEquiposGrupoDos | async" [value]="option.nombre">
                        {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>
    </div>
    <div class="form-group">
        <mat-form-field>
            <mat-label>Seleccionar dia</mat-label>
            <input matInput [matDatepicker]="picker" (dateInput)="onDateSelected($event)" [value]="fecha">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="form-group">
        <label for="Horario">Horario</label>
            <input type="text"
                   placeholder="Seleccionar hora"
                   aria-label="Number"
                   matInput
                   [formControl]="myControlHorarios"
                   [matAutocomplete]="autoHoras"
                   class="form-control">
            <mat-autocomplete #autoHoras="matAutocomplete">
                <mat-option *ngFor="let option of filteredHorarios | async" [value]="option.hora">
                    {{option.hora}}
                </mat-option>
            </mat-autocomplete>
    </div>
    <div class="form-group">
        <label for="Cancha">Cancha</label>
            <input type="text"
                   placeholder="Seleccionar cancha"
                   aria-label="Number"
                   matInput
                   [formControl]="myControlCanchas"
                   [matAutocomplete]="autoCanchas"
                   class="form-control">
            <mat-autocomplete #autoCanchas="matAutocomplete">
                <mat-option *ngFor="let option of filteredCanchas | async" [value]="option.cancha">
                    {{option.cancha}}
                </mat-option>
            </mat-autocomplete>
    </div>
    <div class="form-group">
      <label for="Instancia">Instancia</label>
          <input type="text"
                 placeholder="Seleccionar instancia"
                 aria-label="Number"
                 matInput
                 [formControl]="myControlInstancias"
                 [matAutocomplete]="autoInstancias"
                 class="form-control">
          <mat-autocomplete #autoInstancias="matAutocomplete">
              <mat-option *ngFor="let option of filteredInstancias | async" [value]="option.instancia">
                  {{option.instancia}}
              </mat-option>
          </mat-autocomplete>
    </div>
    <button type="submit" class="btn btn-default"
        (click)="addPartido(torneo,anio,null,PartidosInterzonalesForm)">Enviar</button>
    <button type="submit" class="btn btn-default" (click)="resetPartidoForm(PartidosInterzonalesForm)">Limpiar</button>
  </form>
  <div class="instancias">
    <div *ngFor="let instancia of copa">
      <div *ngIf="instancia[1].length > 0;">
        <h3>{{instancia[0][0]}}</h3>
        <div>
          <table class="table table-bordered table-striped">
            <thead>
              <th class="centered">Fecha</th>
              <th class="centered">Equipo</th>
              <th class="centered min-25">Pen</th>
              <th class="show-mobile centered min-38">Res</th>
              <th class="hide-mobile centered min-70">Resultado</th>
              <th class="centered min-25">Pen</th>
              <th class="centered">Equipo</th>
            </thead>
            <tbody>
              <tr *ngFor="let partido of instancia[1]">
                <td>{{partido.fecha.split('T')[0] | date:'dd/MM/yyyy' }} - {{partido.hora}}:{{partido.minutos  | number: '2.0'}}hs. {{ partido.cancha ? '('  : '' }}{{ partido.cancha ? partido.cancha  : '' }}{{ partido.cancha ? ')' : '' }}</td>
                <td><img id="escudo" src="../../../assets/imagenes/{{partido.equipoUno}}.png" />{{partido.equipoUno}}</td>
                <td class="center"
                  *ngIf="partido.penalesLocal == -1 || partido.id_equipoUno == partido.id_equipoDos; else penalesUno"> -
                </td>
                <ng-template #penalesUno>
                  <div class="center" >{{partido.penalesLocal}}</div>
                </ng-template>
                <td class="center" 
                  *ngIf="(partido.id_equipoUno != partido.id_equipoDos) && (partido.golesLocal != -1 && partido.golesVisitante != -1); else noPenales">
                  {{partido.golesLocal}} - {{partido.golesVisitante}}</td>
                <ng-template #noPenales>
                  <td class="center"> - </td>
                </ng-template>
                <td class="center"
                  *ngIf="partido.penalesVisitante == -1 || partido.id_equipoUno == partido.id_equipoDos; else penalesDos">
                  - </td>
                <ng-template #penalesDos>
                  <div class="penales center">{{partido.penalesVisitante}}</div>
                </ng-template>
                <td *ngIf="partido.id_equipoUno != partido.id_equipoDos; else libre"><img id="escudo"
                    src="../../../assets/imagenes/{{partido.equipoDos}}.png" />{{partido.equipoDos}}</td>
                <ng-template #libre>
                  <div class="top">LIBRE</div>
                </ng-template>
                <td *ngIf="globals.activo == true"><a (click)="editForm(partido)">
                    <i class="glyphicon-pencil"></i>
                  </a></td>
                  <td *ngIf="showPartidosForm && globals.activo == true">
                    <a (click)="deletePartido(partido.id_partido)">
                      <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showResultadosForm && globals.activo == true" class="container">
    <form role="form" #PartidoForm="ngForm" id="partidosForm">
      <input type="hidden" name="id_partido" [(ngModel)]="copaService.selectedPartido.id_partido" #id_partido="ngModel">
      <div class="form-group">
        <label for="EquipoUno">Equipo Uno</label>
        <input readonly type="text" class="form-control" name="equipoUno"
          [(ngModel)]="copaService.selectedPartido.equipoUno" #equipoUno="ngModel" required placeholder="Equipo Uno">
      </div>
      <div class="form-group">
        <label for="GolesLocal">Goles Local</label>
        <input type="number" class="form-control" name="golesLocal" [(ngModel)]="copaService.selectedPartido.golesLocal"
          #golesLocal="ngModel" required placeholder="Goles Local">
      </div>
      <div class="form-group">
        <label for="PenalesLocal">Penales Local</label>
        <input type="number" class="form-control" name="penalesLocal"
          [(ngModel)]="copaService.selectedPartido.penalesLocal" #penalesLocal="ngModel" required
          placeholder="Penales Local">
      </div>
      <div class="form-group">
        <label for="equipoDos">Equipo Dos</label>
        <input readonly type="text" class="form-control" name="equipoDos"
          [(ngModel)]="copaService.selectedPartido.equipoDos" #equipoDos="ngModel" required placeholder="Equipo Dos">
      </div>
      <div class="form-group">
        <label for="GolesVisitante">Goles Visitante</label>
        <input type="number" class="form-control" name="golesVisitante"
          [(ngModel)]="copaService.selectedPartido.golesVisitante" #golesVisitante="ngModel" required
          placeholder="Goles Visitante">
      </div>
      <div class="form-group">
        <label for="PenalesVisitante">Penales Visitante</label>
        <input type="number" class="form-control" name="penalesVisitante"
          [(ngModel)]="copaService.selectedPartido.penalesVisitante" #penalesVisitante="ngModel" required
          placeholder="Penales Visitante">
      </div>
      <input type="hidden" name="anio" [(ngModel)]="copaService.selectedPartido.anio" #anio="ngModel">
      <input type="hidden" name="torneo" [(ngModel)]="copaService.selectedPartido.torneo" #torneo="ngModel">
      <button type="submit" class="btn btn-default"
        (click)="editPartido(PartidoForm.value.torneo,PartidoForm.value.anio,PartidoForm)">Enviar</button>
      <button type="submit" class="btn btn-default" (click)="resetForm(PartidoForm)">Limpiar</button>
    </form>
  </div>
</div>
