@use '@angular/material' as mat;
@import './breakpoints';
@import './theme';
@import 'material-design-icons/iconfont/material-icons.css';

.mat-sidenav {
  width: 260px;
}
.mat-sidenav-container {
  background-color: #EEEEEE !important;
  height: 100vh;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat.m2-get-color-from-palette($app-primary);
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}

.mat-drawer {
  padding-left: 16px;
}

.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}
.wrapper {
  background-color: #C40808;
}
.banner {
  background-color: #C40808;
}