@use '@angular/material' as mat;
@import './breakpoints';
@import './theme';
@import '~material-design-icons/iconfont/material-icons.css';

.banner {
  margin-top: 64px;
  margin-bottom: 16px;

  @media (max-width: 768px) {
    margin-top: 56px;
  }
}

.mat-sidenav {
  width: 260px;
}
.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;

  .mat-sidenav-content {
    display: flex;
    flex-direction: column;
  }
}
.sidenav-toolbar {
  height: 64px;
  background-color: mat.get-color-from-palette($app-primary);
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    height: 56px;
  }
}
.mat-nav-list {
  padding-top: 0;
}

.mat-drawer {
  padding-left: 16px;
}

.menu-list-item.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}
.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}
