<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slider-wrapper">
            <a href="https://angular.io/">
                <img src="../../../../assets/imagenes/Angular.png" class="img-responsive" alt="Banner Torneo">
            </a>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="slider-wrapper">
            <a href="https://es.react.dev/">
                <img src="../../../../assets/imagenes/React.png" class="img-responsive" alt="Banner Torneo">
            </a>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="slider-wrapper">
            <a href="https://vuejs.org/">
                <img src="../../../../assets/imagenes/vue.png" class="img-responsive" alt="Banner Torneo">
            </a>
        </div>
    </ng-template>
</owl-carousel-o>
