<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slider-wrapper">
            <img src="../../../../assets/imagenes/azafran.jpg" class="img-responsive" alt="Banner Torneo">
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="slider-wrapper">
            <img src="../../../../assets/imagenes/matute.jpg" class="img-responsive" alt="Banner Torneo">
        </div>
    </ng-template>  
    <!-- <ng-template carouselSlide>
        <div class="slider-wrapper">
            <a href="https://vuejs.org/">
                <img src="../../../../assets/imagenes/vue.png" class="img-responsive" alt="Banner Torneo">
            </a>
        </div>
    </ng-template> -->
</owl-carousel-o>
