::ng-deep .mat-expansion-panel-header {
  --mat-expansion-header-text-font: 'Montserrat', sans-serif;
}

mat-panel-title {
  color: #C40808;

  h2 {
    font-size: 15px;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 25px;
      font-weight: 900;
    }
  }
}

mat-panel-title h2 {
  margin-top: 10px; 
}

mat-expansion-panel {
  border-radius: 15px;
  border: 1px solid #768DC7;
  --mat-expansion-container-shape: 15px;
  margin-bottom: 16px !important;
}

.wrapper {
  position: relative;
}