<div class="container">
    <div class="slider">
        <h1 class="titulo">JUGADORES</h1>
        <h3>Los siguientes jugadores profesionales jugaron nuestro torneo</h3>
        <ul>
            <li>
                <img src="../../../assets/imagenes/Jug1Atletico2020.jpg" alt="">
            </li>
            <li>
                <img src="../../../assets/imagenes/Jug2Atletico2020.jpg" alt="">
            </li>
            <li>
                <img src="../../../assets/imagenes/Jug3Atletico2020.jpg" alt="">
            </li>
            <li>
                <img src="../../../assets/imagenes/Jug4Atletico2020.jpg" alt="">
            </li>
        </ul>
    </div>
</div>