<div class="container centrado">
    <h1 style="color: red;">FASE DE GRUPOS</h1>
    <div *ngFor="let grupo of grupos[0]">
        <h1>Grupo {{grupo[0][0].grupo}}</h1>
        <div>
            <table class="table table-bordered">
                <thead class="text-center">
                    <th>Equipo</th>
                    <th class="numero">PJ</th>
                    <th class="numero">PG</th>
                    <th class="numero">PE</th>
                    <th class="numero">PP</th>
                    <th class="numero">GF</th>
                    <th class="numero">GC</th>
                    <th class="numero">Dif</th>
                    <th class="numero">Pts</th>
                </thead>
                <tbody>
                    <tr *ngFor="let equipo of grupo[0]">
                        <td><img id="escudo" src="../../../assets/imagenes/{{equipo.nombre}}.png" />{{equipo.nombre}}
                        </td>
                        <td class="numero">{{equipo.partidosJugados}}</td>
                        <td class="numero">{{equipo.partidosGanados}}</td>
                        <td class="numero">{{equipo.partidosEmpatados}}</td>
                        <td class="numero">{{equipo.partidosPerdidos}}</td>
                        <td class="numero">{{equipo.golesAFavor}}</td>
                        <td class="numero">{{equipo.golesEnContra}}</td>
                        <td class="numero">{{equipo.diferenciaGoles}}</td>
                        <td class="numero">{{equipo.puntos}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="espacio"> </div>
            <table class="table table-bordered table-striped">
                <thead *ngIf="grupo[1].length > 0">
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Equipo</th>
                    <th>Resultado</th>
                    <th>Equipo</th>
                </thead>
                <tbody>
                    <tr *ngFor="let partido of grupo[1]">
                        <td>{{partido.fecha.split('T')[0]}}</td>
                        <td *ngIf="partido.minutos != 0; else minutoCero">{{partido.hora}}:{{partido.minutos}}</td>
                        <ng-template #minutoCero>
                            <div style="margin: 9%;">{{partido.hora}}:00</div>
                        </ng-template>
                        <td>{{partido.equipoUno}}</td>
                        <td *ngIf="partido.golesLocal != -1 && partido.GolesVisitante != -1; else noJugado"
                            style="text-align: center;">
                            {{partido.golesLocal}} - {{partido.golesVisitante}}</td>
                        <ng-template #noJugado>
                            <div class="div" style="text-align: center;"> _ </div>
                        </ng-template>
                        <td>{{partido.equipoDos}}</td>
                        <td *ngIf="globals.activo == true"><a (click)="editForm(partido)">
                                <i class="glyphicon-pencil"></i>
                            </a></td>
                    </tr>
                </tbody>
            </table>
            <div class="espacio"> </div>
        </div>
    </div>
    <div *ngIf="hasElements(grupos[1])">
        <h1>INTERZONALES</h1>
        <table class="table table-bordered">
            <thead>
                <th>Dia</th>
                <th>Hora</th>
                <th>Equipo</th>
                <th>Resultado</th>
                <th>Equipo</th>
            </thead>
            <tbody>
                <tr *ngFor="let partido of grupos[1]">
                    <td>{{partido.fecha.split('T')[0]}}</td>
                    <td *ngIf="partido.minutos != 0; else minutoCero">{{partido.hora}}:{{partido.minutos}}</td>
                    <ng-template #minutoCero>
                        <div style="margin: 9%;">{{partido.hora}}:00</div>
                    </ng-template>
                    <td>{{partido.equipoUno}}</td>
                    <td *ngIf="partido.golesLocal != -1 && partido.GolesVisitante != -1; else noJugado" style="text-align: center;">
                        {{partido.golesLocal}} - {{partido.golesVisitante}}</td>
                    <ng-template #noJugado><div class="div" style="text-align: center;"> _ </div></ng-template>
                    <td>{{partido.equipoDos}}</td>
                    <td *ngIf="globals.activo == true"><a (click)="editForm(partido)">
                            <i class="glyphicon-pencil"></i>
                        </a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="globals.activo == true" class="container">
    <form role="form" #PartidoForm="ngForm">
        <input type="hidden" name="id_partido" [(ngModel)]="gruposService.selectedPartido.id_partido"
            #id_partido="ngModel">
        <div class="form-group">
            <label for="EquipoUno">Equipo Uno</label>
            <input type="text" class="form-control" name="equipoUno" readonly
                [(ngModel)]="gruposService.selectedPartido.equipoUno" #equipoUno="ngModel" required
                placeholder="Equipo Uno">
        </div>
        <div class="form-group">
            <label for="GolesLocal">Goles Local</label>
            <input type="number" class="form-control" name="golesLocal"
                [(ngModel)]="gruposService.selectedPartido.golesLocal" #golesLocal="ngModel" required
                placeholder="Goles Local">
        </div>
        <input type="hidden" name="penalesLocal" [(ngModel)]="gruposService.selectedPartido.penalesLocal"
            #penalesLocal="ngModel">
        <div class="form-group">
            <label for="equipoDos">Equipo Dos</label>
            <input type="text" class="form-control" name="equipoDos" readonly
                [(ngModel)]="gruposService.selectedPartido.equipoDos" #equipoDos="ngModel" required
                placeholder="Equipo Dos">
        </div>
        <div class="form-group">
            <label for="GolesVisitante">Goles Visitante</label>
            <input type="number" class="form-control" name="golesVisitante"
                [(ngModel)]="gruposService.selectedPartido.golesVisitante" #golesVisitante="ngModel" required
                placeholder="Goles Visitante">
        </div>
        <input type="hidden" name="penalesVisitante" [(ngModel)]="gruposService.selectedPartido.penalesVisitante"
            #penalesVisitante="ngModel">
        <input type="hidden" name="anio" [(ngModel)]="gruposService.selectedPartido.anio" #anio="ngModel">
        <input type="hidden" name="torneo" [(ngModel)]="gruposService.selectedPartido.torneo" #torneo="ngModel">
        <button type="submit" class="btn btn-default"
            (click)="editPartido(PartidoForm.value.torneo,PartidoForm.value.anio,PartidoForm)">Enviar</button>
        <button type="submit" class="btn btn-default" (click)="resetForm(PartidoForm)">Limpiar</button>
    </form>
</div>