.subtitulo{
    color: red;
}
.min-38{
    min-width: 38px;
}
.center{
    text-align: center;
}
.add-equipos {
    margin-bottom: 16px;
    margin-right: 16px;
}
.active-button {
    background-color: gray;
    color: white;
}