<div class="container centrado">
    <app-info-torneo></app-info-torneo>
    <h2 class="subtitulo">FASE DE GRUPOS</h2>
    <button *ngIf="globals.activo == true" (click)="setShowResultadosForm()" class="btn btn-default add-equipos" [class.active-button]="showResultadosForm">Administrar resultados</button>
    <button *ngIf="globals.activo == true" (click)="setShowEquiposForm()" class="btn btn-default add-equipos" [class.active-button]="showEquiposForm">Administrar equipos</button>
    <button *ngIf="globals.activo == true" (click)="setShowPartidosForm()" class="btn btn-default add-equipos" [class.active-button]="showPartidosForm">Administrar partidos</button>
    <button *ngIf="globals.activo == true" (click)="setShowInterzonalesForm()" class="btn btn-default add-equipos" [class.active-button]="showInterzonalesForm">Administrar interzonales</button>
    <form *ngIf="showEquiposForm && globals.activo == true" role="form" #EquipoForm="ngForm" id="equipoForm">
        <input type="hidden" name="id_equipo" [(ngModel)]="equiposService.selectedEquipo.id"
            #id_equipo="ngModel">
        <div class="form-group">
            <label for="Equipo">Nombre equipo</label>
                <input type="text"
                       placeholder="Seleccionar equipo"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto"
                       class="form-control">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre">
                    {{option.nombre}}
                  </mat-option>
                </mat-autocomplete>
        </div>
        <div class="form-group">
            <label for="Grupo">Grupo</label>
            <input type="number" class="form-control" name="grupo" [(ngModel)]="equiposService.selectedEquipo.grupo" #grupo="ngModel" required
                   placeholder="Grupo">
        </div>
        <button type="submit" class="btn btn-default"
            (click)="addEquipo(torneo,anio,EquipoForm)">Enviar</button>
        <button type="submit" class="btn btn-default" (click)="resetEquipoForm(EquipoForm)">Limpiar</button>
    </form>
    <div *ngFor="let grupo of grupos[0]">
        <h3>Grupo {{grupo[0][0].grupo}}</h3>
        <div>
            <table class="table table-bordered">
                <thead class="text-center">
                    <th class="centered">Equipo</th>
                    <th class="numero centered">PJ</th>
                    <th class="numero centered">PG</th>
                    <th class="numero centered">PE</th>
                    <th class="numero centered">PP</th>
                    <th class="numero centered">GF</th>
                    <th class="numero centered">GC</th>
                    <th class="numero centered">Dif</th>
                    <th class="numero centered">Pts</th>
                </thead>
                <tbody>
                    <tr *ngFor="let equipo of grupo[0]">
                        <td><img id="escudo" src="../../../assets/imagenes/{{equipo.nombre}}.png" />{{equipo.nombre}}</td>
                        <td class="numero">{{equipo.partidosJugados}}</td>
                        <td class="numero">{{equipo.partidosGanados}}</td>
                        <td class="numero">{{equipo.partidosEmpatados}}</td>
                        <td class="numero">{{equipo.partidosPerdidos}}</td>
                        <td class="numero">{{equipo.golesAFavor}}</td>
                        <td class="numero">{{equipo.golesEnContra}}</td>
                        <td class="numero">{{equipo.diferenciaGoles}}</td>
                        <td class="numero">{{equipo.puntos}}</td>
                        <td *ngIf="showEquiposForm && globals.activo == true"><a (click)="editEquipoForm(equipo)">
                            <i class="glyphicon-pencil"></i>
                        </a></td>
                        <td *ngIf="showEquiposForm && globals.activo == true">
                            <a (click)="deleteEquipo(equipo.id)">
                              <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="espacio"> </div>
            <table class="table table-bordered table-striped">
                <thead *ngIf="grupo[1].length > 0">
                    <th class="centered">Fecha</th>
                    <th class="centered">Equipo</th>
                    <th class="min-38 show-mobile centered" >Res</th>
                    <th class="hide-mobile centered">Resultado</th>
                    <th class="centered">Equipo</th>
                </thead>
                <tbody>
                    <tr *ngFor="let partido of grupo[1]">
                        <td>{{partido.fecha.split('T')[0] | date:'dd/MM/yyyy' }} - {{partido.hora}}:{{partido.minutos  | number: '2.0'}}hs. {{ partido.cancha ? '('  : '' }}{{ partido.cancha ? partido.cancha  : '' }}{{ partido.cancha ? ')' : '' }}</td>
                        <td>{{partido.equipoUno}}</td>
                        <td *ngIf="partido.golesLocal != -1 && partido.GolesVisitante != -1; else noJugado"
                           class="center">
                            {{partido.golesLocal}} - {{partido.golesVisitante}}</td>
                        <ng-template #noJugado>
                            <td class="center"> - </td>
                        </ng-template>
                        <td>{{partido.equipoDos}}</td>
                        <td *ngIf="(showPartidosForm || showResultadosForm) && globals.activo == true"><a (click)="editForm(partido, grupo[0][0].grupo)">
                                <i class="glyphicon-pencil"></i>
                            </a></td>
                        <td *ngIf="showPartidosForm && globals.activo == true">
                            <a (click)="deletePartido(partido.id_partido)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="espacio"> </div>
        </div>
        <form *ngIf="showPartidosForm && globals.activo == true" role="form" #PartidosForm="ngForm" [id]="'partidosForm' + grupo[0][0].grupo">
            <input type="hidden" name="id_partido" [(ngModel)]="partidosService.selectedPartido.id_partido"
                #id_partido="ngModel">
            <div class="form-group">
                <label for="Equipo">Nombre equipo uno</label>
                    <input type="text"
                           placeholder="Seleccionar equipo"
                           aria-label="Number"
                           matInput
                           [formControl]="myControlEquiposGrupoUno"
                           [matAutocomplete]="autoEquipoUno"
                           class="form-control">
                    <mat-autocomplete #autoEquipoUno="matAutocomplete">
                    <div *ngFor="let option of filteredEquiposGrupoUno | async">
                        <mat-option *ngIf="option.grupo === grupo[0][0].grupo" [value]="option.nombre">
                          {{option.nombre}}
                        </mat-option>
                    </div>
                    </mat-autocomplete>
            </div>
            <div class="form-group">
                <label for="Equipo">Nombre equipo dos</label>
                    <input type="text"
                           placeholder="Seleccionar equipo"
                           aria-label="Number"
                           matInput
                           [formControl]="myControlEquiposGrupoDos"
                           [matAutocomplete]="autoEquipoDos"
                           class="form-control">
                    <mat-autocomplete #autoEquipoDos="matAutocomplete">
                        <div *ngFor="let option of filteredEquiposGrupoDos | async">
                            <mat-option *ngIf="option.grupo === grupo[0][0].grupo" [value]="option.nombre">
                              {{option.nombre}}
                            </mat-option>
                        </div>
                    </mat-autocomplete>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Seleccionar dia</mat-label>
                    <input matInput [matDatepicker]="picker" (dateInput)="onDateSelected($event)" [value]="fecha">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group">
                <label for="Horario">Horario</label>
                    <input type="text"
                           placeholder="Seleccionar hora"
                           aria-label="Number"
                           matInput
                           [formControl]="myControlHorarios"
                           [matAutocomplete]="autoHoras"
                           class="form-control">
                    <mat-autocomplete #autoHoras="matAutocomplete">
                        <mat-option *ngFor="let option of filteredHorarios | async" [value]="option.hora">
                            {{option.hora}}
                        </mat-option>
                    </mat-autocomplete>
            </div>
            <div class="form-group">
                <label for="Cancha">Cancha</label>
                    <input type="text"
                           placeholder="Seleccionar cancha"
                           aria-label="Number"
                           matInput
                           [formControl]="myControlCanchas"
                           [matAutocomplete]="autoCanchas"
                           class="form-control">
                    <mat-autocomplete #autoCanchas="matAutocomplete">
                        <mat-option *ngFor="let option of filteredCanchas | async" [value]="option.cancha">
                            {{option.cancha}}
                        </mat-option>
                    </mat-autocomplete>
            </div>
            <button type="submit" class="btn btn-default"
                (click)="addPartido(torneo,anio,grupo[0][0].grupo,PartidosForm)">Enviar</button>
            <button type="submit" class="btn btn-default" (click)="resetPartidoForm(PartidosForm)">Limpiar</button>
        </form>
    </div>
    <form *ngIf="showInterzonalesForm && globals.activo == true" role="form" #PartidosInterzonalesForm="ngForm" id="partidosInterzonalesForm">
        <input type="hidden" name="id_partido" [(ngModel)]="partidosService.selectedPartido.id_partido"
            #id_partido="ngModel">
        <div class="form-group">
            <label for="Equipo">Nombre equipo uno</label>
                <input type="text"
                       placeholder="Seleccionar equipo"
                       aria-label="Number"
                       matInput
                       [formControl]="myControlEquiposGrupoUno"
                       [matAutocomplete]="autoEquipoUno"
                       class="form-control">
                    <mat-autocomplete #autoEquipoUno="matAutocomplete">
                        <mat-option *ngFor="let option of filteredEquiposGrupoUno | async" [value]="option.nombre">
                            {{option.nombre}}
                        </mat-option>
                    </mat-autocomplete>
        </div>
        <div class="form-group">
            <label for="Equipo">Nombre equipo dos</label>
                <input type="text"
                       placeholder="Seleccionar equipo"
                       aria-label="Number"
                       matInput
                       [formControl]="myControlEquiposGrupoDos"
                       [matAutocomplete]="autoEquipoDos"
                       class="form-control">
                       <mat-autocomplete #autoEquipoDos="matAutocomplete">
                        <mat-option *ngFor="let option of filteredEquiposGrupoDos | async" [value]="option.nombre">
                            {{option.nombre}}
                        </mat-option>
                    </mat-autocomplete>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Seleccionar dia</mat-label>
                <input matInput [matDatepicker]="picker" (dateInput)="onDateSelected($event)" [value]="fecha">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="Horario">Horario</label>
                <input type="text"
                       placeholder="Seleccionar hora"
                       aria-label="Number"
                       matInput
                       [formControl]="myControlHorarios"
                       [matAutocomplete]="autoHoras"
                       class="form-control">
                <mat-autocomplete #autoHoras="matAutocomplete">
                    <mat-option *ngFor="let option of filteredHorarios | async" [value]="option.hora">
                        {{option.hora}}
                    </mat-option>
                </mat-autocomplete>
        </div>
        <div class="form-group">
            <label for="Cancha">Cancha</label>
                <input type="text"
                       placeholder="Seleccionar cancha"
                       aria-label="Number"
                       matInput
                       [formControl]="myControlCanchas"
                       [matAutocomplete]="autoCanchas"
                       class="form-control">
                <mat-autocomplete #autoCanchas="matAutocomplete">
                    <mat-option *ngFor="let option of filteredCanchas | async" [value]="option.cancha">
                        {{option.cancha}}
                    </mat-option>
                </mat-autocomplete>
        </div>
        <button type="submit" class="btn btn-default"
            (click)="addPartido(torneo,anio,null,PartidosInterzonalesForm)">Enviar</button>
        <button type="submit" class="btn btn-default" (click)="resetPartidoForm(PartidosInterzonalesForm)">Limpiar</button>
    </form>
    <div *ngIf="hasElements(grupos[1])">
        <h3>INTERZONALES</h3>
        <table class="table table-bordered">
            <thead>
                <th class="centered">Fecha</th>
                <th class="centered">Equipo</th>
                <th class="min-38 show-mobile centered" >Res</th>
                <th class="hide-mobile centered">Resultado</th>
                <th class="centered">Equipo</th>
            </thead>
            <tbody>
                <tr *ngFor="let partido of grupos[1]">
                    <td>{{partido.fecha.split('T')[0] | date:'dd/MM/yyyy' }} - {{partido.hora}}:{{partido.minutos  | number: '2.0'}}hs. {{ partido.cancha ? '('  : '' }}{{ partido.cancha ? partido.cancha  : '' }}{{ partido.cancha ? ')' : '' }}</td>
                    <td>{{partido.equipoUno}}</td>
                    <td *ngIf="partido.golesLocal != -1 && partido.GolesVisitante != -1; else noJugado" class="center">
                        {{partido.golesLocal}} - {{partido.golesVisitante}}</td>
                    <ng-template #noJugado><td class="div center"> - </td></ng-template>
                    <td>{{partido.equipoDos}}</td>
                    <td *ngIf="(showInterzonalesForm || showResultadosForm) && globals.activo == true"><a (click)="editForm(partido)">
                            <i class="glyphicon-pencil"></i>
                        </a></td>
                    <td *ngIf="showInterzonalesForm && globals.activo == true">
                        <a (click)="deletePartido(partido.id_partido)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="showResultadosForm && globals.activo == true" class="container">
    <form role="form" #PartidoForm="ngForm" id="partidoForm">
        <input type="hidden" name="id_partido" [(ngModel)]="gruposService.selectedPartido.id_partido"
            #id_partido="ngModel">
        <div class="form-group">
            <label for="EquipoUno">Equipo Uno</label>
            <input type="text" class="form-control" name="equipoUno" readonly
                [(ngModel)]="gruposService.selectedPartido.equipoUno" #equipoUno="ngModel" required
                placeholder="Equipo Uno">
        </div>
        <div class="form-group">
            <label for="GolesLocal">Goles Local</label>
            <input type="number" class="form-control" name="golesLocal"
                [(ngModel)]="gruposService.selectedPartido.golesLocal" #golesLocal="ngModel" required
                placeholder="Goles Local">
        </div>
        <input type="hidden" name="penalesLocal" [(ngModel)]="gruposService.selectedPartido.penalesLocal"
            #penalesLocal="ngModel">
        <div class="form-group">
            <label for="equipoDos">Equipo Dos</label>
            <input type="text" class="form-control" name="equipoDos" readonly
                [(ngModel)]="gruposService.selectedPartido.equipoDos" #equipoDos="ngModel" required
                placeholder="Equipo Dos">
        </div>
        <div class="form-group">
            <label for="GolesVisitante">Goles Visitante</label>
            <input type="number" class="form-control" name="golesVisitante"
                [(ngModel)]="gruposService.selectedPartido.golesVisitante" #golesVisitante="ngModel" required
                placeholder="Goles Visitante">
        </div>
        <input type="hidden" name="penalesVisitante" [(ngModel)]="gruposService.selectedPartido.penalesVisitante"
            #penalesVisitante="ngModel">
        <input type="hidden" name="anio" [(ngModel)]="gruposService.selectedPartido.anio" #anio="ngModel">
        <input type="hidden" name="torneo" [(ngModel)]="gruposService.selectedPartido.torneo" #torneo="ngModel">
        <button type="submit" class="btn btn-default"
            (click)="editPartido(PartidoForm.value.torneo,PartidoForm.value.anio,PartidoForm)">Enviar</button>
        <button type="submit" class="btn btn-default" (click)="resetForm(PartidoForm)">Limpiar</button>
    </form>
</div>
<app-canchas></app-canchas>