<swiper-container slides-per-view="1" navigation="true">
  <!--  mobile -->
  <ng-container *ngIf="noticiasMobile.length">
    <swiper-slide *ngFor="let grupo of noticiasMobile" class="mobile-slide">
      <div class="slide-grid mobile">
        <div class="noticia-card" *ngFor="let noticia of grupo">
          <img [src]="noticia.url" alt="Noticia">
          <p class="image-title">{{ noticia.titulo }}</p>
        </div>
      </div>
    </swiper-slide>
  </ng-container>

  <!-- desktop -->
  <ng-container *ngIf="noticiasDesktop.length">
    <swiper-slide *ngFor="let grupo of noticiasDesktop" class="desktop-slide">
      <div class="slide-grid desktop">
        <div class="noticia-card" *ngFor="let noticia of grupo">
          <img [src]="noticia.url" alt="Noticia">
          <p class="image-title">{{ noticia.titulo }}</p>
        </div>
      </div>
    </swiper-slide>
  </ng-container>
</swiper-container>
