<div class="carousel-wrapper">
    <owl-carousel-o [options]="customOptions">
        <div *ngFor="let noticia of noticias">
            <ng-template carouselSlide>
                <div class="slider-wrapper">
                    <a [routerLink]="['/noticias', noticia.id]">
                        <img src="{{noticia.url}}" class="img-responsive">
                        <p class="image-title">{{noticia.titulo}}</p>
                    </a>
                </div>
            </ng-template>
        </div>
    </owl-carousel-o>
</div>
