<swiper-container
  slides-per-view="1"
  space-between="24"
  grid='{"rows": 4, "fill": "row"}'
  navigation="true"
  pagination="false"
  style="width: 100%;"
  breakpoints='{
    &quot;768&quot;: {
      &quot;slidesPerView&quot;: 3,
      &quot;grid&quot;: { &quot;rows&quot;: 2, &quot;fill&quot;: &quot;row&quot; }
    }
  }'
>
  <swiper-slide *ngFor="let noticia of noticias">
    <div class="noticia-card">
      <img [src]="noticia.url" alt="Noticia">
      <p class="image-title">{{ noticia.titulo }}</p>
    </div>
  </swiper-slide>
</swiper-container>