<div class="container">
    <app-carousel></app-carousel>
    <app-anio (yearChange)="onYearChange($event)" (dateChange)="onDateChange($event)"></app-anio>
    <app-partidos-dia [torneo]="0" [year]="selectedYear" [selectedDate]="selectedDate"></app-partidos-dia>
    <app-partidos-dia [torneo]="3" [year]="selectedYear" [selectedDate]="selectedDate" *ngIf="selectedYear >= 2022"></app-partidos-dia>
    <app-partidos-dia [torneo]="1" [year]="selectedYear" [selectedDate]="selectedDate"></app-partidos-dia>
    <app-partidos-dia [torneo]="4" [year]="selectedYear" [selectedDate]="selectedDate" *ngIf="selectedYear >= 2022"></app-partidos-dia>
    <app-partidos-dia [torneo]="2" [year]="selectedYear" [selectedDate]="selectedDate" *ngIf="selectedYear >= 2022"></app-partidos-dia>
    <app-noticias></app-noticias>
</div>