<div class="container">
    <h1 class="titulo" >COORDINADORES</h1>
    <h3 class="subtitulo" >Presidente del club</h3>
    <h4 class="subtitulo" >Jose Contino 2494325603</h4>
    <div class="div">
        <div class="col-xs-6">
            <h3>Área escenarios</h3>
            <h4>Juan Gomez 2494342616</h4>
            <div class="espacio"></div>
            <h3>Área alojamientos de delegaciones</h3>
            <h4>Nicolas Castaño 2494532310</h4>
            <div class="espacio"></div>
            <h3>Área certamen</h3>
            <h4>Joaquin Bordagaray 2494027413</h4>
            <h4>Juan Pablo Vicente 2494661191</h4>
            <h4>Joaquin Allende 2494361842</h4>
            <div class="espacio"></div>
            <h3>Área alojamientos particulares</h3>
            <h4>Juan Pablo Vicente 2494661191</h4>
        </div>
        <div class="col-xs-6">
            <h3>Área comedores</h3>
            <h4>Jose Contino 2494325603</h4>
            <h4>Fernando Allende 2494357077</h4>
            <div class="espacio"></div>
            <h3>Área buffet</h3>
            <h4>Alejandro Janez 2494479980</h4>
            <div class="espacio"></div>
            <h3>Área protocolo</h3>
            <h4>Gustavo Padin 2494486782</h4>
            <div class="espacio"></div>
            <h3>Área prensa y difusión</h3>
            <h4>Jorge Galzadet 2494486729</h4>
            <div class="espacio"></div>
        </div>
    </div>
    <div class="espacio"></div>
    <div class="div">
        <h4>Mail: catleticoayacucho&#64;gmail.com</h4>
    </div>
</div>