/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@media screen and (max-width: 700px){
    h1 {
        font-size: 12px;
    }
    
    th {
        font-size: 10px;
    }
    td {
        font-size: 8px;
    }
    div {
        font-size: 8px;
    }
    #escudo {
        width: 18px;
        height: 18px;
    }
    p {
        font-size: 10px !important;
    }
    h3 {
        font-size: 11px;
    }
    h4 {
        font-size: 9px;
    }
    h5 {
        font-size: 9px;
    }
    .mat-list-item {
        font-size: 15px !important;
    }
}

p {
    text-align: justify;
}

.numero {
    text-align: right;
}