/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    background-image: url('assets/imagenes/fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}