<div *ngIf="anio > 2020">
    <h4>Referencias</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <th>Ref.</th>
            <th>Cancha</th>
            <th>Direccion</th>
        </thead>
        <tbody>
            <tr>
                <td>CI</td>
                <td>Club Independiente</td>
                <td>Ruta 50 y San Martin</td>
            </tr>
            <tr>
                <td>CA</td>
                <td>Cancha Atletico Luciano Ceverio</td>
                <td>Av. Italia y Murgier</td>
            </tr>
            <tr>
                <td>EM</td>
                <td>Estadio Municipal</td>
                <td>Domingo Faustino Sarmiento 398, casi esq. Solanet</td>
            </tr>
        </tbody>
    </table>
</div>