.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.year-selector {
    height: 40px;
    border-radius: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #768DC7;

    span {
        flex: 1;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }

    button {
        background-color: #DADCDF;
        height: 100%;
        border: none;
    }

    button:first-child {
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }

    button:last-child {
        border-top-right-radius: 70px;
        border-bottom-right-radius: 70px;
    }
}

.day-selector {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;

    button {
        padding: 8px 16px;
        border-radius: 24px;
        border: 1px solid #768DC7;
    }

    .selected {
        background-color: #C40808;
        color: white;
    }
}