<div class="container centrado">
    <h1 class="text-center">GOLEADORES</h1>
    <div class="espacio"></div>
    <div>
        <table class="table table-bordered table-striped">
            <thead class="text-center">
                <th>Jugador</th>
                <th>Equipo</th>
                <th>Goles</th>
                <!-- <th *ngIf="globals.activo">Editar</th> -->
            </thead>
            <tbody>
                <tr *ngFor="let goleador of goleadores | paginate: { itemsPerPage: 18, currentPage: actualPage }">
                    <td>{{goleador.nombre}} {{goleador.apellido}}</td>
                    <td>{{goleador.equipo}}</td>
                    <td>{{goleador.goles}}</td>
                    <!-- <td *ngIf="globals.activo"><a (click)="editGoleador(goleador)">
                            <i class="glyphicon-pencil"></i>
                        </a></td> -->
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
        <div class="espacio"> </div>
    </div>
</div>