<div>
    <div class="espacio"></div>
    <div>
      <div class="div" *ngIf="globals.activo == true">
        <div class="col-md-4 form-group">
            <input type="text" placeholder="Ingresar Apellido" [(ngModel)]="busquedaApellido">
        </div>
        <div class="col-md-4 form-group">
            <input type="text" placeholder="Ingresar Nombre" [(ngModel)]="busquedaNombre">
        </div>
        <div class="col-md-4 form-group">
            <input type="text" placeholder="Ingresar Equipo" [(ngModel)]="busquedaEquipo">
        </div>
      </div>
        <table class="table table-bordered table-striped" *ngIf="goleadores.length > 0">
            <thead class="text-center">
                <th class="centered" >Jugador</th>
                <th class="centered" >Equipo</th>
                <th class="numero centered">Goles</th>
                <th *ngIf="globals.activo == true">Editar</th>
                <th *ngIf="globals.activo == true">Eliminar</th>
            </thead>
            <tbody>
                <tr *ngFor="let goleador of goleadores | apellidoFilter:busquedaApellido | equipoFilter:busquedaEquipo | nombreFilter:busquedaNombre | paginate: { itemsPerPage: 18, currentPage: actualPage }">
                    <td>{{goleador.nombre}} {{goleador.apellido}}</td>
                    <td><img id="escudo" src="../../../assets/imagenes/{{goleador.equipo}}.png" />{{goleador.equipo}}</td>
                    <td class="numero">{{goleador.goles}}</td>
                    <td *ngIf="globals.activo == true">
                      <a (click)="editGoleador(goleador)">
                          <i class="glyphicon-pencil"></i>
                      </a>
                    </td>
                    <td *ngIf="globals.activo == true">
                      <a (click)="deleteGoleador(goleador.id)">
                        <i class="glyphicon glyphicon-remove"></i>
                      </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="actualPage = $event" *ngIf="goleadores.length > 0"></pagination-controls>
        <div class="espacio"> </div>
    </div>
    <div  class="container" *ngIf="globals.activo == true">
        <form role="form" #goleadorForm="ngForm" id="goleadorForm">
          <input type="hidden" name="id" [(ngModel)]="goleadorService.selectedGoleador.id" #id="ngModel" >
          <div class="form-group">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="goleadorService.selectedGoleador.nombre" #nombre="ngModel" required
                   placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="Apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" [(ngModel)]="goleadorService.selectedGoleador.apellido" #apellido="ngModel" required
                   placeholder="Apellido">
          </div>
          <div class="form-group">
            <label for="Goles">Goles</label>
            <input type="number" class="form-control" name="goles" [(ngModel)]="goleadorService.selectedGoleador.goles" #goles="ngModel" required
                   placeholder="Goles">
          </div> 
          <div class="form-group">
            <label for="Equipo">Equipo</label>
                <input type="text"
                       placeholder="Seleccionar equipo"
                       aria-label="Equipo"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto"
                       class="form-control">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombre">
                    {{option.nombre}}
                  </mat-option>
                </mat-autocomplete>
          </div>
          
          <button type="submit" class="btn btn-default" (click)="addGoleador(torneoGoleador,anioGoleador,goleadorForm)">Enviar</button>
          <button type="submit" class="btn btn-default" (click)="resetForm(goleadorForm)">Limpiar</button>
        </form>
    </div>
</div>